<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>ГОЙДА БРАТЬЯ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/particles.css') }}">

</head>

<div class="TagName">
  <h1>FACEITTRACE</h1>
</div>

<body>
  <div id="particles-js"></div>
  <form id="faceitForm">
    <div class="search-row">
      <input id="steamLink" name="steam_link" type="text" placeholder="https://steamcommunity.com/id/########/" />
      <button class="button" type="submit">Найти</button>
    </div>
  </form>
  <div id="result"></div>

  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="{{ url_for('static', filename='js/particles.js') }}"></script>
  <script src="{{ url_for('static', filename='js/faceit.js') }}"></script>
</body>
</html>